@model AspNetCoreWebAppMvcMaterialize.ViewModels.HomeStartViewModel
@{
    ViewData["Title"] = "Start";
}

<h1>@ViewData["Title"]</h1>
<p>This is some of a kitchen sink for all things to get layouted properly.</p>

<h2>Horizontal panels</h2>
<partial name="_HorizontalCardsPartial"/>

<h2>Table</h2>
<partial name="Partials/_RefreshTablePartial" model="Model.FuelPriceTable"/>