<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCoreWebAppMvcMaterialize</title>
    <partial name="_LibraryStylesPartial" />
    <link rel="stylesheet" href="~/css/background-waves.css" />
    <link rel="stylesheet" href="~/css/centered-container.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/color-scheme-preference.js"></script>
</head>
<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <header>
        <div class="navbar-fixed" style="height: 0px;">
            <nav class="primary">
                <div class="nav-wrapper">
                    <ul class="right">
                        <li>
                            <a id="theme-switch" href="#" title="Switch to dark mode"><i class="material-symbols-outlined">dark_mode</i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="centered-container">
        <main role="main">
            <div class="container center-align">
                @RenderBody()
            </div>
        </main>
    </div>
    <!--<footer class="page-footer">
      <div class="container">
        &copy; 2024 - AspNetCoreWebAppMvcMaterialize - <a asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a>
      </div>
    </footer>-->
    <partial name="_LibraryScriptsPartial" />
    <script src="~/js/color-scheme-switcher.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
