<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCoreWebAppMvcMaterialize</title>
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="~/lib/material-symbols/index.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspNetCoreWebAppMvcMaterialize.styles.css" asp-append-version="true" />
    <script src="~/js/color-scheme-preference.js"></script>
</head>
<body>
    <header>
        <nav class="primary">
            <div class="nav-wrapper container">
                <a class="brand-logo" asp-area="" asp-controller="Home" asp-action="Index">AspNetCoreWebAppMvcMaterialize</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="large material-symbols-outlined">menu</i></a>
                <ul class="right">
                    <li>
                        <a id="theme-switch" href="#" title="Switch to dark mode"><i class="material-symbols-outlined">dark_mode</i></a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><nav-anchor class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</nav-anchor></li>
                    <li><nav-anchor class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</nav-anchor></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav pt-4" id="mobile-demo">
            <sidenav-anchor class="nav-link mb-2" asp-area="" asp-controller="Home" asp-action="Index">Home</sidenav-anchor>
            <sidenav-anchor class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</sidenav-anchor></>
        </ul>
    </header>
    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            &copy; 2024 - AspNetCoreWebAppMvcMaterialize - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/materialize/js/materialize.min.js"></script> 
    <script src="~/js/color-scheme-switcher.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
